@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNovaThin.eot');
	src: local('☺'), url('../fonts/ProximaNovaThin.woff') format('woff'), url('../fonts/ProximaNovaThin.ttf') format('truetype'), url('../fonts/ProximaNovaThin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNovaRegular.eot');
	src: local('☺'), url('../fonts/ProximaNovaRegular.woff') format('woff'), url('../fonts/ProximaNovaRegular.ttf') format('truetype'), url('../fonts/ProximaNovaRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Forever Brush Script';
	src: url('../fonts/ForeverBrushScript 400.eot');
	src: local('☺'), url('../fonts/ForeverBrushScript 400.woff') format('woff'), url('../fonts/ForeverBrushScript 400.ttf') format('truetype'), url('../fonts/ForeverBrushScript 400.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$fontfamily: "Proxima Nova";
$minwidth: 320px;
$maxwidth: 1211;
$md1: $maxwidth+12;
$md2: 992.98;
$md3: 767.98;
$md4: 590.98;
$md5: 478.98;
/*-------Cleaning Browser Styles--------*/
*, *::before, *::after {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    min-width: $minwidth;
    font-size: 100%;
    line-height: 1;
    font-size: 20px;
    font-family: $fontfamily;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: $fontfamily;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    &.lock {
        overflow: hidden;
        @media (max-width: $md3+px) {
            width: 100%;
            position: fixed;
            overflow: hidden;
        }
    }
}
* { margin: 0; padding: 0; border: 0; }
:focus, :active { outline: none; }
a:focus, a:active { outline: none; }
nav, footer, header, aside { display: block; }
input, button, textarea { font-family: $fontfamily; }
input::-ms-clear { display: none; }
button { cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }
a, a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
ul li { list-style: none; }
img { vertical-align: top; }
h1, h2, h3, h4, h5,h6 { font-size: inherit; font-weight: 400; }
.wrapper { width: 100%; min-height: 100%; overflow: hidden; }
.container {
    max-width: $maxwidth+px;
    margin: 0 auto;
    width: 100%;
    @media (max-width: $md1+px) { max-width: 970px; }
    @media (max-width: $md2+px) { max-width: 750px; }
    @media (max-width: $md3+px) { max-width: none; padding: 0 10px; }
}
/*------------------------------------------------------------*/

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
}

@mixin cnt($h) {
    display: flex;
    flex-direction: column;
    height: $h;
    text-align: center;
    align-items: stretch;
    justify-content: center;
}

@mixin flexorder($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

@mixin anim($time, $delay) {
    -webkit-transition: all $time ease-out $delay;
    -moz-transition: all $time ease-out $delay;
    -ms-transition: all $time ease-out $delay;
    -o-transition: all $time ease-out $delay;
    transition: all $time ease-out $delay;
}

@mixin anim_cubic($time, $delay) {
    -webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin scale($num) {
    -webkit-transform: scale($num);
    -moz-transform: scale($num);
    -ms-transform: scale($num);
    -o-transform: scale($num);
    transform: scale($num);
}

@mixin skew($num) {
    -webkit-transform: skewX($num);
    -moz-transform: skewX($num);
    -ms-transform: skewX($num);
    -o-transform: skewX($num);
    transform: skewX($num);
}

@mixin translate($x, $y, $z) {
    -webkit-transform: translate3d($x, $y, $z); 
    -moz-transform: translate3d($x, $y, $z); 
    -ms-transform: translate3d($x, $y, $z); 
    -o-transform: translate3d($x, $y, $z); 
    transform: translate3d($x, $y, $z); 
}
/*----------------------------------------
------------------------------------------
------------------------------------------*/
.header-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &__image {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../img/bg_banner.jpg') center / cover no-repeat;
    }
}
.header {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    @include flexbox();
    flex-direction: column;
    padding-left: 50px;
    @media (max-width:$md3+px) {
        padding: 0;
        margin: 0;
    }
}

.header-menu {
    @include flexbox();
    justify-content: space-between;
    margin-top: 62px;
	&__logo {
        @include anim(0.3s, 0s);
        flex: 0 1 132px;
        & a {
            color: #ffffff;
            font-family: "Proxima Nova";
            font-size: 31px;
            font-weight: 100;
        }
        &:hover { @include scale(1.3); letter-spacing: 3px;}
        &:active { @include scale(0.8); letter-spacing: normal;}
        @media (max-width:$md3+px){
            position: fixed;
            top: 0px;
            left: 0;
            line-height: 50px;
            width: 100%;
            background-color: #202833;
            margin: 0;
            padding-left: 15px;
            & a {
                font-size: 27px;
            }
            &:hover { @include scale(1); letter-spacing: normal;}
            &:active { @include scale(1); letter-spacing: normal;}
        }
	}

	&__nav {
        padding-left: 50px;
        flex: 0 1 515px;
	}

	&__list {
        @include flexbox();
        justify-content: space-between;
        @media (max-width:$md3+px) {
            flex-direction: column;
            position: absolute;
            right: 0;
            bottom: 100%;
            height: 100%;
            width: 100%;
            //margin: auto 0;
            align-items: center;
            justify-content: space-evenly;
            background-color: rgba(32, 40, 51, 0.8);
            @include anim(0.5s, 0s);
            &.active {
                bottom: 0;
            }
        }
        & li {
            position: relative;
            @include anim(0.3s, 0s);
            &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 50%;
                width: 0;
                height: 2px;
                background-color: #fff;
            }
            &:hover::after { @include anim(0.3s, 0s); width: 100%; left: 0; }
            &:hover { @include scale(1.3); }
            &:active { @include scale(0.8); }
        }
	}

	&__item {
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 16px;
    }
    
    &__burger {
        display: none;
        @media (max-width:$md3+px) {
            display: block;
            position: fixed;
            top: 20px;
            right: 15px;
            width: 30px;
            height: 18px;
            cursor: pointer;
            z-index: 1;
            span {
                @include anim(0.3s, 0s);
                top: 8px;
                left: 0;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #fff;
                &:first-child { top: 0px; }
                &:last-child { top: auto; bottom: 0px; }
            }
            &.active {
                span {
                    @include scale(0);
                    &:first-child { @include rotate(-45deg); top: 8px; }
                    &:last-child { @include rotate(45deg); bottom: 8px; }
                }
            }
        }
    }
}

.header-content {
    align-self: center;
    text-align: center;
    margin: auto 0;
    padding-bottom: 100px;
    max-width: 713px;
    @media (max-width:$md3+px) { padding: 0 30px; }
	&__title {
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 72px;
        font-weight: 100;
        text-transform: uppercase;
        max-width: 100%;
        margin-bottom: 15px;
        @media (max-width:$md3+px) {
            font-size: 55px;
        }
        @media (max-width:$md4+px) {
            font-size: 45px;
        }
        @media (max-width:$md5+px) {
            font-size: 30px;
        }
    }

	&__subtitle {
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 18px;
        line-height: 32px;
        @media (max-width:$md4+px) {
            font-size: 16px;
        }
        @media (max-width:$md5+px) {
            font-size: 14px;
        }
	}
}
